{% extends "base.html" %}
{% block content %}
<h4 style="text-align: center; color: #686b70"><br>Hi all, this is my complete biodata<br><br></h4>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
