.login{
    /*background-color: blue;*/
    display: table;
    width: 100%;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
button:hover{
     background: #bdbfc1;
}

button{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0px;
    box-shadow:none;
    background-color: #e8e8e8;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.login-button{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0px;
    box-shadow:none;
    background-color: #e8e8e8;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}



.facebook-image{
    height: 120px;
    width: 120px;
    display: table-row;
    display: block;
    margin: 0 auto;
}

.picture{
    border-radius: 50%;
    padding: 15px;
}

#lab8{
    text-align: center;
}

.capitalize{
    text-transform: capitalize;
}

.uppercase{
    text-transform: uppercase;
}
