{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Fasilkom Friends</h2>
                    <div id="friend-list" class="list-group">
                        <!-- friend_list = response['results'] -->
                        <!-- for(var i = 0; i < friend_list.length; i++){
                          friend = friend_list[i];
                          html = '<a class="list-group-item clearfix" id=' + friend.id + '>' +
                              friend.friend_name + ' (' + friend.npm + ')' +
                              '</a>';
                          button = '<button onclick=deleteFriend(' + friend.id + ')> Delete </button>';
                          $("#friend-list").append(html + button)
                        } -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script>

    $( document ).ready(function () {
        $.ajax({
            method: "GET",
            url: "{% url 'lab-7:get-friend-list' %}", // update
            success: function (response) {
                var friend_list = response['results']
                for(var i = 0; i < friend_list.length; i++){
                  friend = friend_list[i];
                  // html = '<a class="list-group-item clearfix" id=' + friend.id + '>' +
                  //     friend.friend_name + ' (' + friend.npm + ')'
                  //     '</a>';
                  html = '<a class="list-group-item clearfix" id=' + friend.id + '>' +
                      friend.friend_name + ' (' + friend.npm + ')'
                      '</a>';
                  button = '<button class="delete-button" onclick=deleteFriend(' + friend.id + ')> Delete </button>';
                  $("#friend-list").append(html + button)
              }
            },
            error: function(error){
                console.log("error")
            }
        });
    });

    var deleteFriend = function(id) {
        $.ajax({
            method: "POST",
            url: "/lab-7/delete-friend/"+id,
            data: {id: id},
            dataType: 'json',
            success : function (response) {
                console.log("ok");
                $('#' + response.id).remove();
            },
            error : function (error) {
                // alert("error");
                $('#' + id).remove();
            }
        });
    };
</script>
{% endblock %}
