body{
   margin-top: 70px;
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

.submit{
    margin: 15px;
    margin-left: 0px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0px;
    box-shadow:none;
    background-color: #e8e8e8;
}

button:hover{
     background: #bdbfc1;
}

.delete-button{
    /*margin: 15px;
    margin-left: 0px;*/
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0px;
    box-shadow:none;
    background-color: #e8e8e8;
    float: right;
}

a{
    vertical-align: middle;
}
