{% load staticfiles %}
{% load static %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="{% url 'lab-7:index' %}">Home</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse" style='float:right'>
     <ul class="nav navbar-nav">
       <li style='float:right' id='logout'></li>
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</nav>
